<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Applicants</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap" rel="stylesheet">
    <style>
         body {
        margin: 0;
        padding: 0;
        }
        .sidenav {
        width: 350px;
        height: 100vh;
        position: relative;
        z-index: 1;
        background: #5d4da8;
        /* box-shadow: 4px 0px 4px rgb(221 221 221 / 25%); */
        /* overflow-x: hidden; */
        /* padding-top: 20px;*/
      }

        .sidenav a {
            padding: 37px 8px 6px 70px;
            width: 350px;
            height: 31px;
            text-decoration: none;
            font-size: 25px;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 26px;
            line-height: 31px;
            color: #FFFFFF;
            display: block;
        }
        .container {
        width: auto;
        padding-left: 32px;
        padding-right: 32px;
        padding-top: 106px;
        }
        .container h2{
            width: 725px;
            height: 58px;
            font-family: "Lato", sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 58px;
            color: #5D4DA8;
        }
        .nav{
        width: 78px;
        height: 22px;
        padding: 30px 0;
        padding-left: 60px;
        }
        h3 , p , h2{
            padding: 0;
            margin: 0;
        }
        .label{
            font-family: "Lato",sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 22px;
            line-height: 26px;
            padding-top: 52px;
            color: #909090;
        }
        .head{
            display: flex;
            gap: 46px;
            padding-top: 35px;
        }
        .subhead{
            display: flex;
            align-items: center;
            /* padding: 32px 46px; */
        }
        .subhead h3{
            font-family: "Lato",sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 30px;
        }
        .subhead p{
            font-family: "Lato",sans-serif;
            font-style: normal;
            font-weight: bold;
            font-size: 20px;
            line-height: 30px;
            color: #5E5E5E;
        }
        hr {
        /* padding-left: 150px ; */
        margin-top: 42px;
        height: 1px;
        
        background: #EBEBEB;
        }
        
        .infohead{
            display: flex;
            padding-top: 34px;
            align-items: center;
            gap:30px;
        }
        .infohead h3{
        font-family: "Lato",sans-serif;
        font-style: normal;
        font-size: 25px;
        width: 250px;
        line-height: 30px;
        }
        .rect{
            padding-top: 10px;
        }
        .infohead p{
            font-family: "Lato",sans-serif;
            font-style: normal;
            font-size: 20px;
            line-height: 30px;
            color: #5E5E5E;
        }
        .hire{
         
            color: #FFFFFF;
            width: 104px;
            height: 35px;   
            background: #5D4DA8;
            font-family: "Lato", sans-serif;
            border-radius: 10px; 
             font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            border: none;
            border-color: #5D4DA8;
        }
     .btnwrap{
         display: flex;
         gap: 50px;
         padding-left: 24px;
     }
        .reject{
        
            width: 104px;
            height: 35px;   
            border: none;
            font-family: "Lato", sans-serif;
            border-radius: 10px; 
             font-style: normal;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            background: #D8D8D8;
            border-radius: 10px;
            border-color: #D8D8D8;
        }
        .arrowWrap {
        display: flex;
        gap: 20px;
        /* align-items: center; */
        align-items: flex-start;
    padding: 36px 8px 0 69px;
      
      }
      .arrowIcon{
       padding-left: 50px;    
      }
        .wrap {
        display: flex;
        /* justify-content: space-around; */
        width: 100%;
        gap: 0px;
      }
      .proftypeWrap {
        background-image: url(../css/orange-patch.png), url(../css/yellow-patch-rotated.png), url(../css/round-pink-patch.png);
        background-repeat: no-repeat;
        height: 100vh;
        background-position: bottom left -164px, right 60px top -65px, center right;
        width: 100%;
      }
      .applicants{
        width: 107px !important;
        height: 28px !important;
        font-weight: 500 !important;
        font-size: 22px !important;
        line-height: 27px !important;
      }
      .uapplicants{
          padding: 0 !important;
      }
      @media only screen and (max-width: 999px) {
        .sidenav{
          display: none;
        }
        .head{
            flex-direction: column;
        }
    }
    @media only screen and (max-width: 600px) {
        .infohead{
            flex-wrap: wrap;
        }
        .btnwrap{
            padding-left: 0px;
        }
        .container h2{
            width: auto;
        }
        .proftypeWrap{
            height: 150vh;
        }
      .infohead h3{
          width: auto;
      }
    }

    @media only screen and (max-width: 475px) {
      .label{
          padding-top: 20px;
          font-size: 17px;
      }
      .container{
          padding-top: 34px;
      }
      .container h2{
          font-size: 30px;
      }
      .infohead h3, .subhead h3{
          font-size: 18px;
      }
      .infohead p, .subhead p{
          font-size: 14px;
      }
    }
    </style>
</head>
<body>
    <div class="wrap" id="wra">
    <div class="sidenav">
        <nav>
            <img class="nav" src="/css/Yuung White.png"> 
        </nav>
        <a href="/company/proftype">Type of Profile</a>
        <a href="/company/profinfo">Profile Information</a>
        <a href="/company/jobposting">Job Posting</a>
        <a href="/company/livejobs">Live Jobs</a>
        <a href="/company/applications">Applications</a>
        <div class="arrowWrap">
            <img src="/css/Rectangle.png" alt="arrow" class=" rect" />
            <a href="/company/applicants" class="applicants uapplicants">Applicants</a>  
            <img src="/css/arrow.png" alt="arrow" class="arrowIcon" />
          </div>
      </div>
      <div class="proftypeWrap">
    <div class="container">
        <h2>Applicants</h2>
        <p class="label">Total applicants - 5  </p>
        <div class="head">
            <div class="subhead">
                <h3>Job name -</h3>
                <p> Bartender</p>
            </div>
            <div class="subhead">
                <h3>Job date -</h3>
                <p>27/07/2021</p>
            </div>
            <div class="subhead">
                <h3>Job time -</h3>
                <p>6:00 PM</p>
            </div>
        </div>
        <hr>

        <div class="info">
            <div class="infohead">
                <h3>Full name</h3>
                <p>:</p>
                <p>Ayaan</p>
            </div>
            <div class="infohead">
                <h3>Experience(in years)</h3>
                <p>:</p>
                <p>2</p>
            </div>
            <div class="infohead">
                <h3>Location(city)</h3>
                <p>:</p>
                <p>Area 51</p>
            </div>
            <div class="infohead">
                <h3>Mobile no. :</h3>
                <p>:</p>
                <p>9876543210</p>
                <div class="btnwrap">
                <button class="hire">Hire</button>
                <button class="reject">Reject</button>
            </div>
        </div>
        </div>
        <hr>
    </div>
    </div>
    </div>
</body>
</html>