<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        padding-left: 20px;
        padding-right: 20px;
        background-color: #111;
        overflow-x: hidden;
        padding-top: 20px;
        }
        .sidenav a {
        padding: 28px 8px 30px 16px;
        text-decoration: none;
        font-size: 20px;
        border-bottom: 1px solid #ededed73;
        color: #818181;
        display: block;
        }
    </style>
</head>
<body>
    <div class="sidenav">
        <a href="/dashboard">Dashboard</a>
        <a href="/new">New Poll</a>
        <a href="/comp">Completed Poll</a>
        <a href="/results">Poll Results</a>
        <a href="/logout">Logout</a>
      </div>
</body>
</html>